@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

p {padding:0px 22px;line-height: 30px;width: 610px;}

h2 {width: 540px;padding:0px 30px;box-sizing: content-box;border-left-width:7px; border-left-style:solid; }

#listyle {
  border-left-width:7 px; border-left-style:solid; border-left-color:#ffb703;padding:0px 20px;
}

li {
  border-left-width:7 px;padding:0px 10px;line-height: 20px;
}